In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [223]:
url_data= "C:\\Users\\HAJJARI\\Desktop\\AI\\13-GithubRepos\\DGI-Bourse-Portal\\Bourse_Casablanca\\Bourse_Casablanca\\notebooks\\Bourse_Cleaned.json"
df=pd.read_json(url_data, orient='records')

In [116]:
print(df.shape)
df.head()

(76, 11)

,side_full_name,management,shareholders_pourcentage,Info_key_value,key_figures,ratios,investors_contact,dividende_details,Threshhold crossing,Publications_page,instrument_link
0,ALLIANCES,"{""Chairman and CEO"": ""LAZRAQ Alami"", ""Chairman...","{""NAFAKH LAZRAQ ALAMI MOHAMED"": ""51,68"", ""DIVE...","{""Company name "": ""ALLIANCES DEVELOPPEMENT IMM...","{""Consolidated accounts"": [""Yes"", ""Yes"", ""Yes""...","{""BPA"": [""8,08"", ""5,40"", ""-19,80""], ""ROE (in %...","{""Contacts"": ""Amine ALAMI"", ""E-mail"": ""aalami@...","[[2013, 2012, 2011], [12,00, 20,00, 14,00], [O...","[[14/02/2020, 09/05/2018, 11/04/2012], [NAFAKH...",https://www.casablanca-bourse.com/en/issuers-p...,https://www.casablanca-bourse.com/en/live-mark...
1,AFRIQUIA GAZ,"{""Chairman of the Bord of Directors"": ""WAKRIM ...","{""Afriquia SMDC"": ""38,00"", ""AKWA HOLDING"": ""30...","{""Company name "": ""AFRIQUIA GAZ"", ""Corporate a...","{""Consolidated accounts"": [""Yes"", ""Yes"", ""Yes""...","{""BPA"": [""150,37"", ""146,58"", ""105,38""], ""ROE (...","{""Contacts"": ""Rachid IDRISSI KAITOUNI"", ""E-mai...","[[2022, 2021, 2020, 2019, 2018, 2017, 2016, 20...","[[23/03/2010, 26/04/2005, 26/04/2005], [AL AJI...",https://www.casablanca-bourse.com/en/issuers-p...,https://www.casablanca-bourse.com/en/live-mark...
2,AFMA,"{""Chairman and CEO"": ""BENSAID Farid"", ""Deputy ...","{""TENOR FINANCES"": ""39,48"", ""DIVERS ACTIONNAIR...","{""Company name "": ""AFMA"", ""Corporate address ""...","{""Consolidated accounts"": [""Yes"", ""Yes"", ""Yes""...","{""BPA"": [""59,32"", ""57,85"", ""42,56""], ""ROE (in ...","{""Contacts"": ""Radouane Ahliyat"", ""E-mail"": ""ra...","[[2022, 2021, 2020, 2019, 2018, 2017, 2016, 20...","[[17/12/2015, 17/12/2015, 17/12/2015], [CIMR, ...",https://www.casablanca-bourse.com/en/issuers-p...,https://www.casablanca-bourse.com/en/live-mark...
3,AKDITAL,"{""Chairman and CEO"": ""TALIB M. Rochdi"", ""Deput...","{""DIVERS ACTIONNAIRES "": ""31,58"", ""TALIB Rochd...","{""Company name "": ""AKDITAL"", ""Corporate addres...","{""Consolidated accounts"": [""Yes"", ""Yes"", ""Yes""...","{""BPA"": [""7,78"", ""-"", ""-""], ""ROE (in %)"": [""7,...","{""Contacts"": ""Ilyas El Harti"", ""E-mail"": ""i.el...","[[2022], [3,25], [Ordinary], [28/07/2023], [08...","[[], [], [], [], [], [], []]",https://www.casablanca-bourse.com/en/issuers-p...,https://www.casablanca-bourse.com/en/live-mark...
4,ALUMINIUM DU MAROC,"{""Chairman of the Bord of Directors"": ""EL ALAM...","{""HOLDING S.A"": ""32,67"", ""DIVERS ACTIONNAIRES ...","{""Company name "": ""ALUMINIUM DU MAROC"", ""Corpo...","{""Consolidated accounts"": [""Yes"", ""Yes"", ""Yes""...","{""BPA"": [""9,66"", ""39,05"", ""-1,99""], ""ROE (in %...","{""Contacts"": ""Fares EL AKEL"", ""E-mail"": ""f.ela...","[[2022, 2021, 2020, 2019, 2018, 2017, 2016, 20...","[[01/06/2023, 16/04/2019, 02/04/2019, 02/04/20...",https://www.casablanca-bourse.com/en/issuers-p...,https://www.casablanca-bourse.com/en/live-mark...

In [145]:
for column in list(df.columns):
    print(column + " : ",df.loc[1,column])
    print('\n')

side_full_name :  AFRIQUIA GAZ


management :  {"Chairman of the Bord of Directors": "WAKRIM Ali", "General Manager": "HAMOUMI Taoufik", "Financial Manager": "BENCHEKROUN Ghassane"}


shareholders_pourcentage :  {"Afriquia SMDC": "38,00", "AKWA HOLDING": "30,00", "DIVERS ACTIONNAIRES ": "21,80", "RMA WATANYA": "5,20", "AL AJIAL INVESTMENT FUND HOLDING": "5,00", "Total": "100,00"}


Info_key_value :  {"Company name ": "AFRIQUIA GAZ", "Corporate address ": "139. boulevard Moulay Ismaïl  - Roche Noires - Casablanca", "External auditors": "Abdellah RHALLAM / Abdelaziz AL MECHATT", "Date of creation": "01/01/1992", "Date of IPO": "03/05/1999", "Length of fiscal year": "12", "Social object": "Trade and manufacture of all forms of liquid petroleum gas and its by-products. including import. export. trading. refining. storage. stocking. transportation. deposit and distribution; creating and operating storage. conditioning and filling centres for t"}


key_figures :  {"Consolidated accounts": ["Yes", "Yes", "Yes"], "Share capital": ["343 750 000,00", "343 750 000,00", "343 750 000,00"], "Equity": ["2 971 708 000,00", "2 948 441 000,00", "2 874 266 000,00"], "Number of titles(2)": ["3 437 500", "3 437 500", "3 437 500"], "Sales figures": ["9 510 065 000,00", "7 132 280 000,00", "5 716 070 000,00"], "Operating result": ["881 924 000,00", "681 437 000,00", "493 339 000,00"], "Net income (4)": ["516 887 000,00", "503 864 000,00", "362 238 000,00"]}


ratios :  {"BPA": ["150,37", "146,58", "105,38"], "ROE (in %)": ["17,39", "17,09", "12,60"], "Payout (in %)": ["29,80", "95,51", "118,62"], "Dividend yield (in %)": ["0,96", "2,64", "3,39"], "PER": ["30,92", "36,16", "35,02"], "PBR": ["5,38", "6,18", "4,41"]}


investors_contact :  {"Contacts": "Rachid IDRISSI KAITOUNI", "E-mail": "r.idrissi@akwagroup.com", "Phone": "(212) 0522 35 21 44", "Fax": "(212) 0522 35 22 39", "Corporate Website": "www.akwagroup.com"}


dividende_details :  [['2022', '2021', '2020', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011'], ['140,00', '140,00', '125,00', '125,00', '125,00', '125,00', '105,00', '105,00', '105,00', '105,00', '100,00', '84,00'], ['Ordinary', 'Ordinary', 'Ordinary', 'Ordinary', 'Ordinary', 'Ordinary', 'Ordinary', 'Ordinary', 'Ordinary', 'Ordinary', 'Ordinary', 'Ordinary'], ['22/05/2023', '05/05/2022', '07/04/2021', '21/04/2020', '05/04/2019', '17/04/2018', '12/04/2017', '08/04/2016', '18/03/2015', '17/04/2014', '10/04/2013', '11/04/2012'], ['31/05/2023', '16/05/2022', '16/04/2021', '30/04/2020', '16/04/2019', '26/04/2018', '21/04/2017', '19/04/2016', '27/03/2015', '28/04/2014', '19/04/2013', '20/04/2012']]


Threshhold crossing :  [['23/03/2010', '26/04/2005', '26/04/2005'], ['AL AJIAL INVESTMENT FUND HOLDING', 'Afriquia SMDC', 'AKWA HOLDING'], ['171 875', '391 875', '391 875'], ['1 380,00', '430,00', '430,00'], ['5,00', '33,33', '33,33'], ['Rise', 'Rise', 'Decrease'], ['Continu its purchases of the security', 'Stop its purchases of the security', '-']]


Publications_page :  https://www.casablanca-bourse.com/en/issuers-publications?emetteur=512305


instrument_link :  https://www.casablanca-bourse.com/en/live-market/instruments/GAZ

### Spliting the data into tables

In [250]:
# Create an empty DataFrame to store the result
Company = pd.DataFrame()

# Iterate through rows of the original DataFrame
for index, row in df.iterrows():
    # Convert the value column to a dictionary (assuming it's a valid JSON-like format)
    values_dict = eval(row['Info_key_value'])
    
    # Create a temporary DataFrame from the dictionary
    temp_df = pd.DataFrame.from_dict(values_dict, orient='index').T
    
    # Append the temporary DataFrame to the result DataFrame
    Company = Company.append(temp_df, ignore_index=True)

# Reset the index of the new DataFrame
Company.reset_index(drop=True, inplace=True)

# Rename columns if needed
Company.rename(columns=lambda x: x.strip(), inplace=True)

# Append the instrument_link, Publications_page columns
Company["Publications_page"]= df["Publications_page"]
Company["instrument_link"]= df["instrument_link"]

# order columns
wanted_order=["Company name","Corporate address","External auditors","Length of fiscal year","Date of creation","Date of IPO","Social object","Publications_page","instrument_link"]
Company=Company[wanted_order]
Company["Company name"]=df["side_full_name"]
Company.rename(columns={'Company name': 'name', 'Corporate address': 'address','External auditors':'external_auditor','Length of fiscal year':'fiscal_year_length','Date of creation':'creation_date','Date of IPO':'ipo_date','Social object':'social_object','Publications_page':'publications_page'}, inplace=True)
Company.creation_date=pd.to_datetime(Company.creation_date)
Company.ipo_date=pd.to_datetime(Company.ipo_date)
# Display the new DataFrame
Company.head()

,name,address,external_auditor,fiscal_year_length,creation_date,ipo_date,social_object,publications_page,instrument_link
0,ALLIANCES,-,DELOITTE AUDIT,12,1994-06-13,2008-07-17,-,https://www.casablanca-bourse.com/en/issuers-p...,https://www.casablanca-bourse.com/en/live-mark...
1,AFRIQUIA GAZ,139. boulevard Moulay Ismaïl - Roche Noires -...,Abdellah RHALLAM / Abdelaziz AL MECHATT,12,1992-01-01,1999-03-05,Trade and manufacture of all forms of liquid p...,https://www.casablanca-bourse.com/en/issuers-p...,https://www.casablanca-bourse.com/en/live-mark...
2,AFMA,22 Boulevard Moulay Youssef,KPMG / Afric Audit Conseil,12,1953-01-01,2015-12-15,The company’s purpose is limited to the profes...,https://www.casablanca-bourse.com/en/issuers-p...,https://www.casablanca-bourse.com/en/live-mark...
3,AKDITAL,"246 route de l’Oasis, Casablanca","Mazars, Omnipact",12,2016-08-19,2022-12-14,,https://www.casablanca-bourse.com/en/issuers-p...,https://www.casablanca-bourse.com/en/live-mark...
4,ALUMINIUM DU MAROC,-,A&T Auditeurs Consultants et BDO,12,1976-01-01,1998-10-27,The manufacture of semi-finished aluminium pro...,https://www.casablanca-bourse.com/en/issuers-p...,https://www.casablanca-bourse.com/en/live-mark...

In [47]:
engine= create_engine("postgresql://root:root@localhost:5432/bourse")

In [48]:
engine.connect()

In [253]:
Company.to_sql(name='api_company',index=False,con=engine,if_exists='append')

In [44]:
key_list = []
value_list = []
sides=[]


management_list = df['management'].tolist()
side_full_name_list = df['side_full_name'].tolist()

for management_dict, side_full_name in zip(management_list, side_full_name_list):
    for key, value in eval(management_dict).items():
        key_list.append(key)
        value_list.append(value)
    mult_sides= [side_full_name]*len(eval(management_dict))
    sides.extend(mult_sides)         
Management = pd.DataFrame({
    'post': key_list,
    'name': value_list,
    'company_id': sides
})
wanted_order=['name','post','company_id']
Management=Management[wanted_order]

In [45]:
Management.head()

,name,post,company_id
0,LAZRAQ Alami,Chairman and CEO,ALLIANCES
1,AMMOR Ahmed,Chairman Advisor,ALLIANCES
2,NAFAKH LAZRAQ Mohamed,Deputy Managing director,ALLIANCES
3,KABBAJ Youssef,Deputy Managing Director Social and Middle Cla...,ALLIANCES
4,WAKRIM Ali,Chairman of the Bord of Directors,AFRIQUIA GAZ

In [51]:
Management.to_sql(name='api_management',index=False,con=engine,if_exists='append')

In [70]:
key_list = []
value_list = []
sides=[]


shareholders_list = df['shareholders_pourcentage'].tolist()
side_full_name_list = df['side_full_name'].tolist()

for shareholder_dict, side_full_name in zip(shareholders_list, side_full_name_list):
    for key, value in eval(shareholder_dict).items():
        if key!='Total':
            key_list.append(key)
            value_list.append(value)
    mult_sides= [side_full_name]*(len(eval(shareholder_dict))-1)
    sides.extend(mult_sides)  
shareholders = pd.DataFrame({
    'holder': key_list,
    'percentage': value_list,
    'company_id': sides
})

In [71]:
shareholders.head()

                               holder percentage company_id
0         NAFAKH LAZRAQ ALAMI MOHAMED      51,68  ALLIANCES
1                DIVERS ACTIONNAIRES       23,30  ALLIANCES
2                                RCAR       8,39  ALLIANCES
3                              HOLPAR       4,37  ALLIANCES
4  CAISSE MAROCAINE DE RETRAITE (CMR)       4,13  ALLIANCES

In [72]:
shareholders.to_sql(name='api_shareholder',index=False,con=engine,if_exists='append')

In [83]:
# Create an empty DataFrame to store the result
Contact = pd.DataFrame()

# Iterate through rows of the original DataFrame
for index, row in df.iterrows():
    # Convert the value column to a dictionary (assuming it's a valid JSON-like format)
    values_dict = eval(row['investors_contact'])
    
    # Create a temporary DataFrame from the dictionary
    temp_df = pd.DataFrame.from_dict(values_dict, orient='index').T
    
    # Append the temporary DataFrame to the result DataFrame
    Contact = Contact.append(temp_df, ignore_index=True)

# Reset the index of the new DataFrame
Contact.reset_index(drop=True, inplace=True)

# Rename columns if needed
Contact.rename(columns=lambda x: x.strip(), inplace=True)

Contact['company_id']=df['side_full_name']
Contact.rename(columns={'Contacts': 'name','E-mail':'mail','Phone':'phone','Fax':'fax','Corporate Website':'website'}, inplace=True)

Contact.fillna('',inplace=True)

Contact.head()

,name,mail,phone,fax,website,company_id
0,Amine ALAMI,aalami@alliances.co.ma,0522.99.34.84/63,0522.99.34.81,www.alliances.co.ma,ALLIANCES
1,Rachid IDRISSI KAITOUNI,r.idrissi@akwagroup.com,(212) 0522 35 21 44,(212) 0522 35 22 39,www.akwagroup.com,AFRIQUIA GAZ
2,Radouane Ahliyat,radouane.ahliyat@afmagroup.ma,05 22 42 80 00,05 22 42 80 60,www.afma.ma,AFMA
3,Ilyas El Harti,i.elharti@akdital.ma,0522 23 14 14,,www.Akdital.ma,AKDITAL
4,Fares EL AKEL,f.elakel@aluminiumdumaroc.com.,(212) 0539 32 99 50 Siège (Tanger) // (212) 0...,212 0539 35 17 24 à Tanger/ 212 022 66 64 24 ...,www.aluminiumdumaroc.com,ALUMINIUM DU MAROC

In [86]:
Contact.to_sql(name='api_contact',index=False,con=engine,if_exists='append')

In [161]:
# Create an empty DataFrame to store the result
Dividend = pd.DataFrame()
side_full_name_list = df['side_full_name'].tolist()
index=0
# Iterate through rows of the original DataFrame
for index, row in df.iterrows():
    details = row['dividende_details']
    dt= list(map(list, zip(*details)))
    # Create a temporary DataFrame from the dictionary
    temp_df = pd.DataFrame(dt, columns=['year', 'amount', 'dividend_type','ex_date','payment_date'])
    temp_df['company_id']= [side_full_name_list[index]]*len(details[0])
    index+=1
    # Append the temporary DataFrame to the result DataFrame
    Dividend = Dividend.append(temp_df, ignore_index=True)
        
# Reset the index of the new DataFrame
Dividend.reset_index(drop=True, inplace=True)

# Rename columns if needed
Dividend.rename(columns=lambda x: x.strip(), inplace=True)
Dividend.payment_date=pd.to_datetime(Dividend.payment_date)
Dividend.ex_date=pd.to_datetime(Dividend.ex_date)

# Display the new DataFrame
Dividend.head()

   year  amount dividend_type    ex_date payment_date    company_id
0  2013   12,00      Ordinary 2014-09-19   2014-09-30     ALLIANCES
1  2012   20,00      Ordinary 2013-08-19   2013-09-30     ALLIANCES
2  2011   14,00      Ordinary 2012-06-09   2012-09-17     ALLIANCES
3  2022  140,00      Ordinary 2023-05-22   2023-05-31  AFRIQUIA GAZ
4  2021  140,00      Ordinary 2022-05-05   2022-05-16  AFRIQUIA GAZ

In [158]:
Dividend.shape

(689, 6)

In [160]:
Dividend.to_sql(name='api_dividend',index=False,con=engine,if_exists='append')

In [224]:
import pandas as pd

KeyFigures = pd.DataFrame()
side_full_name_list = df['side_full_name'].tolist()

# Iterate through rows of the original DataFrame
for index, row in df.iterrows():
    
    # Convert the value column to a dictionary (assuming it's a valid JSON-like format)
    values_dict = eval(str(row['key_figures']))  # Assuming this is a string representation of a dictionary
    
    # Check if values_dict is a dictionary before proceeding
    if isinstance(values_dict, dict):
        values_dict['year']=['N-1','N-2','N-3']
        for key in values_dict.keys():
            values_dict[key] = list(values_dict[key])
        # Create a temporary DataFrame from the dictionary
        temp_df = pd.DataFrame(values_dict)
        temp_df['company_id']=side_full_name_list[index]
        # Append the temporary DataFrame to the result DataFrame
        KeyFigures = KeyFigures.append(temp_df, ignore_index=True)

# Reset the index of the new DataFrame
KeyFigures.reset_index(drop=True, inplace=True)

# Rename columns if needed
KeyFigures.rename(columns=lambda x: x.strip(), inplace=True)

interm=KeyFigures['Consolidated accounts'].copy()
KeyFigures['Consolidated accounts']=KeyFigures['year']
KeyFigures['year']=interm

KeyFigures.rename(columns={'Consolidated accounts': 'year','Share capital':'share_capital','Equity':'equity','Number of titles(2)':'number_of_titles','Sales figures':'sales_figures','Operating result':'operating_result','Net income (4)':'net_income','year':'consolidated_accounts'}, inplace=True)




KeyFigures.head()

,year,share_capital,equity,number_of_titles,sales_figures,operating_result,net_income,consolidated_accounts,company_id
0,N-1,"2 207 858 800,00","3 401 448 000,00",22 078 588,"1 603 939 000,00","320 931 000,00","178 385 000,00",Yes,ALLIANCES
1,N-2,"2 207 858 800,00","3 260 105 000,00",22 078 588,"1 413 801 000,00","259 578 000,00","119 298 000,00",Yes,ALLIANCES
2,N-3,"2 207 858 800,00","3 348 605 000,00",22 078 588,"1 270 401 000,00","-280 199 000,00","-437 128 000,00",Yes,ALLIANCES
3,N-1,"343 750 000,00","2 971 708 000,00",3 437 500,"9 510 065 000,00","881 924 000,00","516 887 000,00",Yes,AFRIQUIA GAZ
4,N-2,"343 750 000,00","2 948 441 000,00",3 437 500,"7 132 280 000,00","681 437 000,00","503 864 000,00",Yes,AFRIQUIA GAZ

In [226]:
KeyFigures.to_sql(name='api_keyfigures',index=False,con=engine,if_exists='append')

In [227]:
# {"BPA": ["8,08", "5,40", "-19,80"], "ROE (in %)": ["5,24", "3,66", "-13,05"], "Payout (in %)": ["-", "-", "-"], "Dividend yield (in %)": ["-", "-", "-"], "PER": ["6,44", "6,84", "-"], "PBR": ["0,34", "0,25", "0,24"]}
# class Ratios(models.Model):
#     company = models.ForeignKey(Company, on_delete=models.PROTECT)
#     year = models.CharField(max_length=30, default="", unique=True)
#     bpa = models.DecimalField(max_digits=5, decimal_places=2)
#     roe = models.DecimalField(max_digits=5, decimal_places=2)
#     payout = models.DecimalField(max_digits=5, decimal_places=2)
#     dividend_yield = models.DecimalField(max_digits=5, decimal_places=2)
#     per = models.DecimalField(max_digits=5, decimal_places=2)
#     pbr = models.DecimalField(max_digits=5, decimal_places=2)
Ratios=pd.DataFrame()

In [236]:
import pandas as pd

Ratios = pd.DataFrame()
side_full_name_list = df['side_full_name'].tolist()

# Iterate through rows of the original DataFrame
for index, row in df.iterrows():
    
    # Convert the value column to a dictionary (assuming it's a valid JSON-like format)
    values_dict = eval(str(row['ratios']))  # Assuming this is a string representation of a dictionary
    
    # Check if values_dict is a dictionary before proceeding
    if isinstance(values_dict, dict):
        values_dict['year']=['N-1','N-2','N-3']
        for key in values_dict.keys():
            values_dict[key] = list(values_dict[key])
        # Create a temporary DataFrame from the dictionary
        temp_df = pd.DataFrame(values_dict)
        temp_df['company_id']=side_full_name_list[index]
        # Append the temporary DataFrame to the result DataFrame
        Ratios = Ratios.append(temp_df, ignore_index=True)

# Reset the index of the new DataFrame
Ratios.reset_index(drop=True, inplace=True)

# Rename columns if needed
Ratios.rename(columns=lambda x: x.strip(), inplace=True)

Ratios.insert(0,'yearr',Ratios.year)
Ratios.drop('year',inplace=True,axis=1)
Ratios.rename(columns={'yearr': 'year','BPA':'bpa','ROE (in %)':'roe','Payout (in %)':'payout','Dividend yield (in %)':'dividend_yield','PER':'per','PBR':'pbr'}, inplace=True)


Ratios.head()

  year     bpa     roe payout dividend_yield    per   pbr    company_id
0  N-1    8,08    5,24      -              -   6,44  0,34     ALLIANCES
1  N-2    5,40    3,66      -              -   6,84  0,25     ALLIANCES
2  N-3  -19,80  -13,05      -              -      -  0,24     ALLIANCES
3  N-1  150,37   17,39  29,80           0,96  30,92  5,38  AFRIQUIA GAZ
4  N-2  146,58   17,09  95,51           2,64  36,16  6,18  AFRIQUIA GAZ

In [238]:
Ratios.to_sql(name='api_ratios',index=False,con=engine,if_exists='append')